@import "../../../../scss/index.scss";

#selectScore {
  width: 100px;
  margin: auto;
  border-radius: 10px;
}
.optionSelectScore {
  text-align: center;
  font-size: 20px;
}

.containerScore {
  display: flex;
  margin-top: 20px;
}
