@import "../../../index.scss";

.contentHotels {
  .conteinerHotel {
    border: 2px solid var(--primary-yellow);
    padding: 5px;
    margin: 20px;
    display: flex;
    .containerImgPrincipal {
      width: 300px;

      .imgPrincipalHotel {
        width: 100%;
        height: auto;
      }
      @supports (object-fit: cover) {
        .imgPrincipalHotel {
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }

      @media (max-width: 500px) {
        width: 200px;
      }
    }
    .contentInfoHotel {
      margin-left: 20px;
      .iconsHotels {
        text-align: right;
        margin: 10px;
      }
    }

    @media (max-width: 700px) {
      flex-direction: column;
      text-align: center;
      .containerImgPrincipal{
        margin: auto;
        padding-top: 20px;
      }
    }
  }
}
