@import "../../../index.scss";

.contentHotels {
  .conteinerHotel {
    border: 2px solid var(--primary-yellow);
    padding: 5px;
    margin: 20px;
    display: flex;
    .containerImgPrincipal {
      width: 300px;

      .imgPrincipalHotel {
        width: 100%;
        height: auto;
      }
      @supports (object-fit: cover) {
        .imgPrincipalHotel {
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
    }
    .contentInfoHotel {
      margin-left: 20px;
      .textImg {
      }
      .iconsHotels {
        text-align: right;
        margin: 10px;
      }
    }
  }
}
