@import "./scss//index.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-dark);
  color:var(--font-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



//cambios en react-bootstrap
.btn{
  box-shadow: none !important; 
}

.btn.btn-primary{

  background-color: var(--primary-dark);
  border-color: var(--primary-light);

  &:hover {
    background-color: var(--primary-yellow-light)!important;
    border-color: var(--primary-yellow-light);
  }
}

.btn.btn-outline-primary{
  background-color: var(--primary-dark);
  border-color: var(--primary-light);

  &:hover,
  &:active,
  &:focus {
    background-color: var(--primary-yellow-light)!important;
    border-color: var(--primary-yellow-light);
  }
}

input.form-control,
textarea.form-control,
select.form-control {
  background-color: var(--primary-dark);
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid var(--primary-light);
  color: var(--font-light) !important;


  &:focus{
    background-color: var(--background-dark);
    box-shadow: none;
    border-bottom: 2px solid var(--primary-yellow-light);
  }
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: var(--primary-yellow-light);
  background-color: var(--primary-yellow);
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: var(--primary);  
}


.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(255, 227, 87, 0.1);
}


.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: var(--primary-black);
}


.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: var(--primary); 
  border-color: var(--primary-yellow-light);
  background-color: var(--primary-yellow);
}

.custom-switch .custom-control-label::after { 
  background-color: var(--primary-dark);

}

.custom-control-label::before {
  border: 1px solid var(--primary-dark) ;
}