@import "./../../../../../scss/index.scss";
.infoFood {
  text-align: center;
}
.list-group-item{
  text-align: center;
  margin: 1px;
  border-radius: 15px !important;
}
.FormFood {
  margin-top: 20px;
  margin-bottom: 20px;
}
button {
  .foodIcon {
    text-align: center;
    color: var(--primary-yellow-light);
    width: 30px;
    height: 30px;
    @media (max-width: 600px) {
      width: 20px;
      height: 20px;
    } 
  }
  background-color: transparent;
  border: none;
}
.buttonFoodForm {
  margin-top: 20px;
}
