@import "./../../../scss/index.scss";

.carouselIMG {
  margin: auto;
  width: 50%;
}

.infoWeb {
  margin-bottom: 30px;
  .content-info {
    margin-top: 20px;
    padding: 50px 100px 50px 100px;
    background-color: var(--primary);
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-bottom: 1px solid var(--primary-yellow-light);
    border-left: 1px solid var(--primary-yellow-light);
    border-right: 1px solid var(--primary-yellow-light);
    p {
      color: var(--font-light);
    }
  }
}
